
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <script>
        $(document).ready(function () {
            
            numbers = [1,2,3,4,5,6,7,8,9];
            $.each(numbers, function (index, value) {
                console.log(index + ": " + value);
                $('.main-list').append(' <a href="#"><li class="list-group-item number">' + value + '</li></a>');
            });
            Array.prototype.insert = function (index, item) {
                this.splice(index, 0, item);
            };
            $('body').on('click', '.number', function () {
                //numbers.splice(numbers.indexOf(parseInt($(this).text())),1);
                console.log($(this).text());
                console.log(numbers);
                //numbers.push(parseInt($(this).text()));
                numbers.splice(numbers.indexOf(parseInt($(this).text())), 1);
                
                
                console.log(numbers);
                numbers.insert(0, parseInt($(this).text()));
                console.log(numbers);

                $('.main-list').html('');

                $.each(numbers, function (index, value) {
                    console.log(index + ": " + value);
                    $('.main-list').append(' <a href="#"><li class="list-group-item number">' + value + '</li></a>');
                });
            });
        });
    </script>

@{ List<int> numbers = new List<int>(new int[] { 9, 1, 8, 2, 6, 3, 5, 4, 7 }); }
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Game</h2>
            <ul class="list-group main-list">
                @*<a href="#"><li class="list-group-item number">2</li></a>
                <a href="#"><li class="list-group-item number">4</li></a>
                <a href="#"><li class="list-group-item number">5</li></a>
                <a href="#"><li class="list-group-item number">1</li></a>*@
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Order</h2>
              <ul class="list-group">
            @foreach (var item in numbers)
            {
                <a href="#"><li class="list-group-item">@item</li></a>
            }
              </ul>
</div>
    </div>
</div>

